# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# Angular cache
/.angular/cache
.sass-cache/

# IDEs and editors
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Pastas legadas
.old/
18.2.21/
atenclin/
